body {
    font-family: Arial, sans-serif;
    background: #bbdde5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: #ebbbdc;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    width: 350px;
}

h2 {
    color: #df62a7;
    font-size: 20px;
}

#quote-container {
    margin: 20px 0;
    min-height: 70px;
}

#quote {
    font-size: 16px;
    color: #444;
    font-style: italic;
}

#author {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
}

button {
    background-color: #da70c0;
    color: rgb(120, 227, 103);
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #428150;
}